In [2]:
import pandas as pd

df_commune = pd.read_csv("operat_geographie_open_data.csv")
df_vecteur = pd.read_csv("operat_open_data_vecteurs.csv")

print(df_commune.shape)
print(df_commune.head())

(18647, 10)
       annee_consommation zone_climatique code_region  nom_region  \
0  0 - année de référence             GUA          01  Guadeloupe
1  0 - année de référence             GUA          01  Guadeloupe
2  0 - année de référence             GUA          01  Guadeloupe
3  0 - année de référence             GUA          01  Guadeloupe
4  0 - année de référence             GUA          01  Guadeloupe

  code_departement nom_departement   nom_commune  nombre_declaration  \
0              971      Guadeloupe  BAIE MAHAULT                  86
1              971      Guadeloupe       BAILLIF                   7
2              971      Guadeloupe   BASSE TERRE                   4
3              971      Guadeloupe    LES ABYMES                  34
4              971      Guadeloupe   PETIT BOURG                  13

   surface_declaree  consommation_declaree
0            205643               38442621
1              8815                1287317
2              4024                 699468
3             88040               20281219
4             14890                1302881

In [3]:
print(df_commune["annee_consommation"].value_counts())

annee_consommation
2021                      5137
2020                      4968
0 - année de référence    4414
2022                      4128
Name: count, dtype: int64

In [4]:
df_commune["annee_consommation"] = df_commune["annee_consommation"].replace("0 - année de référence", "Année de référence")
print(df_commune["annee_consommation"].value_counts())

annee_consommation
2021                  5137
2020                  4968
Année de référence    4414
2022                  4128
Name: count, dtype: int64

In [9]:
# Afficher les valeurs uniques avec leur type
unique_values = df_commune['annee_consommation'].unique()
print("Valeurs uniques et leur type :")
for value in unique_values:
    print(f"Valeur: {value}, Type: {type(value)}")

Valeurs uniques et leur type :
Valeur: Année de référence, Type: <class 'str'>
Valeur: 2020, Type: <class 'str'>
Valeur: 2021, Type: <class 'str'>
Valeur: 2022, Type: <class 'str'>

In [14]:
print(df_commune["zone_climatique"].value_counts())

zone_climatique
H1a    4789
H1c    3468
H2b    2461
H1b    2185
H2c    2121
H3     1595
H2a    1362
H2d     500
REU      67
GUA      40
MAR      28
GUY      18
MAY      11
ND        2
Name: count, dtype: int64

In [16]:
nd_remove = df_commune[df_commune["zone_climatique"] == "ND"].index

df_commune = df_commune.drop(nd_remove)
print(df_commune["zone_climatique"].value_counts())

zone_climatique
H1a    4789
H1c    3468
H2b    2461
H1b    2185
H2c    2121
H3     1595
H2a    1362
H2d     500
REU      67
GUA      40
MAR      28
GUY      18
MAY      11
Name: count, dtype: int64

In [17]:
print(df_commune["code_region"].value_counts())

code_region
84    2653
11    2168
75    2094
32    1703
76    1667
44    1609
52    1322
53    1183
93    1103
27    1058
28    1047
24     783
04      67
94      61
01      38
ND      33
02      25
03      18
06      11
00       2
Name: count, dtype: int64

In [ ]:
nd_remove = df_commune[df_commune["code_region"] == "ND"].index
df_commune = df_commune.drop(nd_remove)
print(df_commune["code_region"].value_counts())

code_region
84    2653
11    2168
75    2094
32    1703
76    1667
44    1609
52    1322
53    1183
93    1103
27    1058
28    1047
24     783
04      67
94      61
01      38
02      25
03      18
06      11
00       2
Name: count, dtype: int64

In [22]:
print(df_commune["nom_region"].value_counts())

nom_region
Auvergne-Rhône-Alpes          2653
Île-de-France                 2168
Nouvelle-Aquitaine            2094
Hauts-de-France               1703
Occitanie                     1667
Grand-Est                     1609
Pays de la Loire              1322
Bretagne                      1183
Provence-Alpes-Côte d'Azur    1103
Bourgogne-Franche-Comté       1058
Normandie                     1047
Centre-Val de Loire            783
La Réunion                      67
Corse                           61
Guadeloupe                      38
Martinique                      25
Guyane                          18
Mayotte                         11
Collectivités d'Outre-Mer        2
Name: count, dtype: int64

In [39]:
print(df_commune["code_departement"].shape)
print(df_commune["code_departement"].unique())
print(df_commune["code_departement"].value_counts().get("ND", 0))

(18612,)
['971' '973' '75' '77' '78' '91' '92' '93' '94' '95' '28' '14' '27' '50'
 '61' '76' '02' '59' '60' '62' '80' '51' '88' '44' '53' '72' '35' '56'
 '31' '69' '06' '45' '25' '58' '70' '89' '90' '08' '10' '52' '54' '55'
 '57' '67' '68' '21' '39' '71' '22' '19' '23' '24' '33' '87' '01' '03'
 '07' '15' '26' '38' '42' '43' '63' '73' '74' '05' '13' '29' '18' '36'
 '37' '41' '49' '85' '16' '17' '79' '86' '40' '47' '64' '09' '12' '32'
 '46' '65' '81' '82' '48' '04' '84' '11' '30' '34' '66' '83' '2A' '2B'
 '972' '976' '974' '978' 'ND']
154

In [41]:
nd_remove = df_commune[df_commune["code_departement"] == "ND"].index

df_commune = df_commune.drop(nd_remove)
print(df_commune["code_departement"].shape)
print(df_commune["code_departement"].unique())
print(df_commune["code_departement"].value_counts())

(18458,)
['971' '973' '75' '77' '78' '91' '92' '93' '94' '95' '28' '14' '27' '50'
 '61' '76' '02' '59' '60' '62' '80' '51' '88' '44' '53' '72' '35' '56'
 '31' '69' '06' '45' '25' '58' '70' '89' '90' '08' '10' '52' '54' '55'
 '57' '67' '68' '21' '39' '71' '22' '19' '23' '24' '33' '87' '01' '03'
 '07' '15' '26' '38' '42' '43' '63' '73' '74' '05' '13' '29' '18' '36'
 '37' '41' '49' '85' '16' '17' '79' '86' '40' '47' '64' '09' '12' '32'
 '46' '65' '81' '82' '48' '04' '84' '11' '30' '34' '66' '83' '2A' '2B'
 '972' '976' '974' '978']
code_departement
59     639
44     472
62     466
33     457
69     456
      ...
48      25
972     25
973     18
976     11
978      1
Name: count, Length: 102, dtype: int64

In [43]:
print(df_commune["nom_departement"].shape)
print(df_commune["nom_departement"].unique())
print(df_commune["nom_departement"].value_counts())

(18458,)
['Guadeloupe' 'Guyane' 'Paris' 'Seine-et-Marne' 'Yvelines' 'Essonne'
 'Hauts-de-Seine' 'Seine-Saint-Denis' 'Val-de-Marne' "Val-d'Oise"
 'Eure-et-Loir' 'Calvados' 'Eure' 'Manche' 'Orne' 'Seine-Maritime' 'Aisne'
 'Nord' 'Oise' 'Pas-de-Calais' 'Somme' 'Marne' 'Vosges' 'Loire-Atlantique'
 'Mayenne' 'Sarthe' 'Ille-et-Vilaine' 'Morbihan' 'Haute-Garonne' 'Rhône'
 'Alpes-Maritimes' 'Loiret' 'Doubs' 'Nièvre' 'Haute-Saône' 'Yonne'
 'Territoire de Belfort' 'Ardennes' 'Aube' 'Haute-Marne'
 'Meurthe-et-Moselle' 'Meuse' 'Moselle' 'Bas-Rhin' 'Haut-Rhin' 'Côte-dOr'
 'Jura' 'Saône-et-Loire' "Côtes-d'Armor" 'Corrèze' 'Creuse' 'Dordogne'
 'Gironde' 'Haute-Vienne' 'Ain' 'Allier' 'Ardèche' 'Cantal' 'Drôme'
 'Isère' 'Loire' 'Haute-Loire' 'Puy-de-Dôme' 'Savoie' 'Haute-Savoie'
 'Hautes-Alpes' 'Bouches-du-Rhône' 'Finistère' 'Cher' 'Indre'
 'Indre-et-Loire' 'Loir-et-Cher' 'Maine-et-Loire' 'Vendée' 'Charente'
 'Charente-Maritime' 'Deux-Sèvres' 'Vienne' 'Landes' 'Lot-et-Garonne'
 'Pyrénées-Atlantiques' 'Ariège' 'Aveyron' 'Gers' 'Lot' 'Hautes-Pyrénées'
 'Tarn' 'Tarn-et-Garonne' 'Lozère' 'Alpes-de-Haute-Provence' 'Vaucluse'
 'Aude' 'Gard' 'Hérault' 'Pyrénées-Orientales' 'Var' 'Corse-du-Sud'
 'Haute-Corse' 'Martinique' 'Mayotte' 'La Réunion' 'Saint-Martin']
nom_departement
Nord                639
Loire-Atlantique    472
Pas-de-Calais       466
Gironde             457
Rhône               456
                   ...
Lozère               25
Martinique           25
Guyane               18
Mayotte              11
Saint-Martin          1
Name: count, Length: 102, dtype: int64

In [44]:
print(df_commune["nom_commune"].shape)
print(df_commune["nom_commune"].unique())
print(df_commune["nom_commune"].value_counts())

(18458,)
['BAIE MAHAULT' 'BAILLIF' 'BASSE TERRE' ... 'VERQUIERES' 'L ETANG SALE'
 'ND']
nom_commune
ND                694
PARIS 13           28
SAINT DENIS        22
PUTEAUX            20
CESSON SEVIGNE     18
                 ...
MAUVEZIN            1
LANNE               1
BEAUSEMBLANT        1
CADENET             1
CHEVAL BLANC        1
Name: count, Length: 4964, dtype: int64

In [45]:
df_commune["nom_commune"] = df_commune["nom_commune"].replace("ND", "Inconnu")
print(df_commune["nom_commune"].shape)
print(df_commune["nom_commune"].unique())
print(df_commune["nom_commune"].value_counts())

(18458,)
['BAIE MAHAULT' 'BAILLIF' 'BASSE TERRE' ... 'VERQUIERES' 'L ETANG SALE'
 'Inconnu']
nom_commune
Inconnu           694
PARIS 13           28
SAINT DENIS        22
PUTEAUX            20
CESSON SEVIGNE     18
                 ...
MAUVEZIN            1
LANNE               1
BEAUSEMBLANT        1
CADENET             1
CHEVAL BLANC        1
Name: count, Length: 4964, dtype: int64

In [50]:
print(df_commune["nombre_declaration"].shape)
print(df_commune["nombre_declaration"].unique())
print(df_commune["nombre_declaration"].value_counts())
print(df_commune["nombre_declaration"].isnull().sum())

(18458,)
[  86    7    4   34   13    6   28    5   11   10  479  211  216   68
   64   80  110  158  960  408  240  243  351  367  383  295  353  215
  316  191    3   22   18   26   31    8   14   41   33  141   44   27
   35   40   25   15   21   77   39   50   85   42   47   17    9   20
   48   37   43   59   19   16   24   38   49   36   30   66   23   12
   93   61   29   32   82   54  145   69  105  112  154   74   58  210
   75  155   97  257   55   62  125  221  171  233   51  132  258  152
  456  122   46   90  150   56   95   45  149  118  312   70  114   63
   83  194   78  117  177   71  136   52   76  119  203   94   53  415
  182   81   79  186   60  666  165  126  232  207  143   92   91  321
  272   99  128   72  134  113  162  307  328  469  249   89   67  387
  173  109   57  386  189   96   87  115  374  330   65  187  413  133
  225  103  209  159  301  494  137  213  101  384  246  176  140   73
  398  106  923  433  146  429  206   98  184  167  727  100  124  104
  205  107  843  127  181  172  304  166  142  358  157  548  256  195
  495  423  480  116  111  153  496  336  139 1540  680  338  309  508
  506  528  434  499  278  276  148   84  197  123  185  300  248  427
  164  314  242  261  349  327  218  544  102  183  196  161  421  108
  239  236  163  235  277  461  201  144  223  893  334  262  226  129
  406  346  131  484  356  419  160  758  244  436  121  138  462  455
   88  449  432  287  359  624  212  170  283  120  188  422  297  561
  198  331  305  531  227  310  488 1097  169  396  590  519  222  311
  937  130  147  252 1173  369  451  707  344  135  701  621  481  247
  175  510  438 1617  728  322  527  333  568  524  425  294  313  464
  265  279  368  562  230  202  200  450  228  254  293  208  475  953
  266  193  442  372  168  800  259  472  491  493  457  326  315  219
  574  199  347  179  586  245  324  515  151 1168  435  627  549  298
  237 1020  453  264  269 1282  380  178  751  357  732  702  270  320
 1140  543  274  471  452  448  337  296  282  217  308  323  365  410
  174  375  286  501  224  267  220  437  253  428  332  746  979  538
  255  204  558]
nombre_declaration
3      2749
4      2066
5      1549
6      1182
7      1004
       ...
357       1
732       1
702       1
270       1
558       1
Name: count, Length: 423, dtype: int64
0

In [49]:
print(df_commune["surface_declaree"].shape)
print(df_commune["surface_declaree"].unique())
print(df_commune["surface_declaree"].value_counts())
print(df_commune["surface_declaree"].isnull().sum())

(18458,)
[205643   8815   4024 ...  39166  63290  16890]
surface_declaree
7421      9
8650      7
8187      7
13923     7
2019      7
         ..
347889    1
101922    1
132816    1
190888    1
78334     1
Name: count, Length: 14523, dtype: int64
0

In [52]:
print(df_commune["consommation_declaree"].shape)
print(df_commune["consommation_declaree"].unique())
print(df_commune["consommation_declaree"].value_counts())
print(df_commune["consommation_declaree"].isnull().sum())

(18458,)
[38442621  1287317   699468 ...  7410229  2650369  2717263]
consommation_declaree
967253       3
518721       2
17395011     2
761061       2
3025911      2
            ..
25410710     1
6251471      1
31490722     1
288091171    1
46776260     1
Name: count, Length: 18449, dtype: int64
0

In [54]:
print(df_commune.shape)
print(df_commune.head())

(18458, 10)
   annee_consommation zone_climatique code_region  nom_region  \
0  Année de référence             GUA          01  Guadeloupe
1  Année de référence             GUA          01  Guadeloupe
2  Année de référence             GUA          01  Guadeloupe
3  Année de référence             GUA          01  Guadeloupe
4  Année de référence             GUA          01  Guadeloupe

  code_departement nom_departement   nom_commune  nombre_declaration  \
0              971      Guadeloupe  BAIE MAHAULT                  86
1              971      Guadeloupe       BAILLIF                   7
2              971      Guadeloupe   BASSE TERRE                   4
3              971      Guadeloupe    LES ABYMES                  34
4              971      Guadeloupe   PETIT BOURG                  13

   surface_declaree  consommation_declaree
0            205643               38442621
1              8815                1287317
2              4024                 699468
3             88040               20281219
4             14890                1302881

In [55]:
df_commune.to_csv("df_commune_cleaned.csv", index=False)

In [56]:
print(df_vecteur.shape)
print(df_vecteur.head())

(42244, 9)
       annee_consommation zone_climatique code_region  nom_region  \
0  0 - année de référence             GUA          01  Guadeloupe
1  0 - année de référence             GUA          01  Guadeloupe
2  0 - année de référence             GUA          01  Guadeloupe
3  0 - année de référence             GUA          01  Guadeloupe
4  0 - année de référence             GUA          01  Guadeloupe

  code_departement nom_departement   nom_commune vecteur_energie  \
0              971      Guadeloupe  BAIE MAHAULT     Electricite
1              971      Guadeloupe       BAILLIF     Electricite
2              971      Guadeloupe   BASSE TERRE     Electricite
3              971      Guadeloupe      LAMENTIN     Electricite
4              971      Guadeloupe    LES ABYMES     Electricite

   consommation_declaree
0               38442621
1                1287317
2                 699468
3                2058509
4               20281219

In [58]:
print(df_vecteur["annee_consommation"].shape)
print(df_vecteur["annee_consommation"].unique())
print(df_vecteur["annee_consommation"].value_counts())
print(df_vecteur["annee_consommation"].isnull().sum())

(42244,)
['0 - année de référence' '2020' '2021' '2022']
annee_consommation
2021                      11609
2020                      11283
0 - année de référence    10097
2022                       9255
Name: count, dtype: int64
0

In [59]:
df_vecteur["annee_consommation"] = df_vecteur["annee_consommation"].replace("0 - année de référence", "Année de référence")
print(df_vecteur["annee_consommation"].shape)
print(df_vecteur["annee_consommation"].unique())
print(df_vecteur["annee_consommation"].value_counts())
print(df_vecteur["annee_consommation"].isnull().sum())

(42244,)
['Année de référence' '2020' '2021' '2022']
annee_consommation
2021                  11609
2020                  11283
Année de référence    10097
2022                   9255
Name: count, dtype: int64
0

In [60]:
print(df_vecteur["zone_climatique"].shape)
print(df_vecteur["zone_climatique"].unique())
print(df_vecteur["zone_climatique"].value_counts())
print(df_vecteur["zone_climatique"].isnull().sum())

(42244,)
['GUA' 'GUY' 'H1a' 'H1b' 'H1c' 'H2a' 'H2b' 'H2c' 'H2d' 'H3' 'MAR' 'MAY'
 'REU' 'ND']
zone_climatique
H1a    11139
H1c     8257
H2b     5514
H1b     5166
H2c     4460
H3      3221
H2a     3077
H2d     1216
REU       79
GUA       51
MAR       32
GUY       18
MAY       12
ND         2
Name: count, dtype: int64
0

In [61]:
nd_remove = df_vecteur[df_vecteur["zone_climatique"] == "ND"].index
df_vecteur = df_vecteur.drop(nd_remove)
print(df_vecteur["zone_climatique"].shape)
print(df_vecteur["zone_climatique"].unique())
print(df_vecteur["zone_climatique"].value_counts())
print(df_vecteur["zone_climatique"].isnull().sum())

(42242,)
['GUA' 'GUY' 'H1a' 'H1b' 'H1c' 'H2a' 'H2b' 'H2c' 'H2d' 'H3' 'MAR' 'MAY'
 'REU']
zone_climatique
H1a    11139
H1c     8257
H2b     5514
H1b     5166
H2c     4460
H3      3221
H2a     3077
H2d     1216
REU       79
GUA       51
MAR       32
GUY       18
MAY       12
Name: count, dtype: int64
0

In [62]:
print(df_vecteur["code_region"].shape)
print(df_vecteur["code_region"].unique())
print(df_vecteur["code_region"].value_counts())
print(df_vecteur["code_region"].isnull().sum())

(42242,)
['01' '03' '11' '24' '28' '32' '44' '52' '53' '76' '93' '27' '75' '84'
 '94' '02' '06' '04' '00' 'ND']
code_region
84    6378
11    5061
75    4523
32    3852
44    3846
76    3621
52    2933
53    2620
27    2539
28    2460
93    2295
24    1808
94      84
04      79
01      47
ND      34
02      29
03      18
06      11
00       4
Name: count, dtype: int64
0

In [63]:
nd_remove = df_vecteur[df_vecteur["code_region"] == "ND"].index
df_vecteur = df_vecteur.drop(nd_remove)
print(df_vecteur["code_region"].shape)
print(df_vecteur["code_region"].unique())
print(df_vecteur["code_region"].value_counts())
print(df_vecteur["code_region"].isnull().sum())

(42208,)
['01' '03' '11' '24' '28' '32' '44' '52' '53' '76' '93' '27' '75' '84'
 '94' '02' '06' '04' '00']
code_region
84    6378
11    5061
75    4523
32    3852
44    3846
76    3621
52    2933
53    2620
27    2539
28    2460
93    2295
24    1808
94      84
04      79
01      47
02      29
03      18
06      11
00       4
Name: count, dtype: int64
0

In [64]:
print(df_vecteur["nom_region"].shape)
print(df_vecteur["nom_region"].unique())
print(df_vecteur["nom_region"].value_counts())
print(df_vecteur["nom_region"].isnull().sum())

(42208,)
['Guadeloupe' 'Guyane' 'Île-de-France' 'Centre-Val de Loire' 'Normandie'
 'Hauts-de-France' 'Grand-Est' 'Pays de la Loire' 'Bretagne' 'Occitanie'
 "Provence-Alpes-Côte d'Azur" 'Bourgogne-Franche-Comté'
 'Nouvelle-Aquitaine' 'Auvergne-Rhône-Alpes' 'Corse' 'Martinique'
 'Mayotte' 'La Réunion' "Collectivités d'Outre-Mer"]
nom_region
Auvergne-Rhône-Alpes          6378
Île-de-France                 5061
Nouvelle-Aquitaine            4523
Hauts-de-France               3852
Grand-Est                     3846
Occitanie                     3621
Pays de la Loire              2933
Bretagne                      2620
Bourgogne-Franche-Comté       2539
Normandie                     2460
Provence-Alpes-Côte d'Azur    2295
Centre-Val de Loire           1808
Corse                           84
La Réunion                      79
Guadeloupe                      47
Martinique                      29
Guyane                          18
Mayotte                         11
Collectivités d'Outre-Mer        4
Name: count, dtype: int64
0

In [66]:
print(df_vecteur["code_departement"].shape)
print(df_vecteur["code_departement"].unique())
print(df_vecteur["code_departement"].value_counts())
print(df_vecteur["code_departement"].isnull().sum())
print(df_vecteur["code_departement"].value_counts().get("ND", 0))

(42208,)
['971' '973' '75' '77' '78' '91' '92' '93' '94' '95' '28' '14' '27' '50'
 '61' '76' '02' '59' '60' '62' '80' '51' '88' '44' '53' '72' '35' '56'
 '31' '06' '45' '25' '58' '70' '89' '90' '08' '10' '52' '54' '55' '57'
 '67' '68' '21' '39' '71' '22' '19' '23' '33' '87' '01' '03' '07' '15'
 '26' '38' '42' '43' '63' '69' '73' '74' '05' '13' '29' '18' '36' '37'
 '41' '49' '85' '16' '17' '79' '86' '24' '40' '47' '64' '09' '12' '32'
 '46' '65' '81' '82' '48' '04' '84' '11' '30' '34' '66' '83' '2A' '2B'
 '972' '976' '974' '978' '977' 'ND']
code_departement
59     1447
69     1104
62     1038
38     1000
44      976
       ...
972      29
973      18
976      11
978       1
977       1
Name: count, Length: 104, dtype: int64
0
149

In [67]:
nd_remove = df_vecteur[df_vecteur["code_departement"] == "ND"].index
df_vecteur = df_vecteur.drop(nd_remove)
print(df_vecteur["code_departement"].shape)
print(df_vecteur["code_departement"].unique())
print(df_vecteur["code_departement"].value_counts())
print(df_vecteur["code_departement"].isnull().sum())
print(df_vecteur["code_departement"].value_counts().get("ND", 0))

(42059,)
['971' '973' '75' '77' '78' '91' '92' '93' '94' '95' '28' '14' '27' '50'
 '61' '76' '02' '59' '60' '62' '80' '51' '88' '44' '53' '72' '35' '56'
 '31' '06' '45' '25' '58' '70' '89' '90' '08' '10' '52' '54' '55' '57'
 '67' '68' '21' '39' '71' '22' '19' '23' '33' '87' '01' '03' '07' '15'
 '26' '38' '42' '43' '63' '69' '73' '74' '05' '13' '29' '18' '36' '37'
 '41' '49' '85' '16' '17' '79' '86' '24' '40' '47' '64' '09' '12' '32'
 '46' '65' '81' '82' '48' '04' '84' '11' '30' '34' '66' '83' '2A' '2B'
 '972' '976' '974' '978' '977']
code_departement
59     1447
69     1104
62     1038
38     1000
44      976
       ...
972      29
973      18
976      11
978       1
977       1
Name: count, Length: 103, dtype: int64
0
0

In [69]:
print(df_vecteur["nom_departement"].shape)
print(df_vecteur["nom_departement"].unique())
print(df_vecteur["nom_departement"].value_counts())
print(df_vecteur["nom_departement"].isnull().sum())
print(df_vecteur["nom_departement"].value_counts().get("ND", 0))

(42059,)
['Guadeloupe' 'Guyane' 'Paris' 'Seine-et-Marne' 'Yvelines' 'Essonne'
 'Hauts-de-Seine' 'Seine-Saint-Denis' 'Val-de-Marne' "Val-d'Oise"
 'Eure-et-Loir' 'Calvados' 'Eure' 'Manche' 'Orne' 'Seine-Maritime' 'Aisne'
 'Nord' 'Oise' 'Pas-de-Calais' 'Somme' 'Marne' 'Vosges' 'Loire-Atlantique'
 'Mayenne' 'Sarthe' 'Ille-et-Vilaine' 'Morbihan' 'Haute-Garonne'
 'Alpes-Maritimes' 'Loiret' 'Doubs' 'Nièvre' 'Haute-Saône' 'Yonne'
 'Territoire de Belfort' 'Ardennes' 'Aube' 'Haute-Marne'
 'Meurthe-et-Moselle' 'Meuse' 'Moselle' 'Bas-Rhin' 'Haut-Rhin' 'Côte-dOr'
 'Jura' 'Saône-et-Loire' "Côtes-d'Armor" 'Corrèze' 'Creuse' 'Gironde'
 'Haute-Vienne' 'Ain' 'Allier' 'Ardèche' 'Cantal' 'Drôme' 'Isère' 'Loire'
 'Haute-Loire' 'Puy-de-Dôme' 'Rhône' 'Savoie' 'Haute-Savoie'
 'Hautes-Alpes' 'Bouches-du-Rhône' 'Finistère' 'Cher' 'Indre'
 'Indre-et-Loire' 'Loir-et-Cher' 'Maine-et-Loire' 'Vendée' 'Charente'
 'Charente-Maritime' 'Deux-Sèvres' 'Vienne' 'Dordogne' 'Landes'
 'Lot-et-Garonne' 'Pyrénées-Atlantiques' 'Ariège' 'Aveyron' 'Gers' 'Lot'
 'Hautes-Pyrénées' 'Tarn' 'Tarn-et-Garonne' 'Lozère'
 'Alpes-de-Haute-Provence' 'Vaucluse' 'Aude' 'Gard' 'Hérault'
 'Pyrénées-Orientales' 'Var' 'Corse-du-Sud' 'Haute-Corse' 'Martinique'
 'Mayotte' 'La Réunion' 'Saint-Martin' 'Saint-Barthélemy']
nom_departement
Nord                1447
Rhône               1104
Pas-de-Calais       1038
Isère               1000
Loire-Atlantique     976
                    ...
Martinique            29
Guyane                18
Mayotte               11
Saint-Martin           1
Saint-Barthélemy       1
Name: count, Length: 103, dtype: int64
0
0

In [70]:
print(df_vecteur["nom_commune"].shape)
print(df_vecteur["nom_commune"].unique())
print(df_vecteur["nom_commune"].value_counts())
print(df_vecteur["nom_commune"].isnull().sum())
print(df_vecteur["nom_commune"].value_counts().get("ND", 0))

(42059,)
['BAIE MAHAULT' 'BAILLIF' 'BASSE TERRE' ... 'ESTAGEL'
 'LA ROQUETTE SUR SIAGNE' 'ND']
nom_commune
ND                   816
PARIS 13              73
SAINT DENIS           56
PARIS 08              36
NEUILLY SUR SEINE     33
                    ...
ROMENAY                1
SAINT DESERT           1
BRIORD                 1
CERTINES               1
CHALLEX                1
Name: count, Length: 6579, dtype: int64
0
816

In [71]:
df_vecteur["nom_commune"] = df_vecteur["nom_commune"].replace("ND", "Inconnu")
print(df_vecteur["nom_commune"].shape)
print(df_vecteur["nom_commune"].unique())
print(df_vecteur["nom_commune"].value_counts())
print(df_vecteur["nom_commune"].isnull().sum())
print(df_vecteur["nom_commune"].value_counts().get("ND", 0))
print(df_vecteur["nom_commune"].value_counts().get("Inconnu", 0))

(42059,)
['BAIE MAHAULT' 'BAILLIF' 'BASSE TERRE' ... 'ESTAGEL'
 'LA ROQUETTE SUR SIAGNE' 'Inconnu']
nom_commune
Inconnu              816
PARIS 13              73
SAINT DENIS           56
PARIS 08              36
NEUILLY SUR SEINE     33
                    ...
ROMENAY                1
SAINT DESERT           1
BRIORD                 1
CERTINES               1
CHALLEX                1
Name: count, Length: 6579, dtype: int64
0
0
816

In [ ]:
print(df_vecteur["vecteur_energie"].shape)
print(df_vecteur["vecteur_energie"].unique())
print(df_vecteur["vecteur_energie"].value_counts())
print(df_vecteur["vecteur_energie"].isnull().sum())
print(df_vecteur["vecteur_energie"].value_counts().get("ND", 0))

(42059,)
['Electricite' 'Gaz' 'Reseau de chaleur' 'Reseau de froid' 'Fioul' 'Bois'
 'ND']
vecteur_energie
Electricite          17556
Gaz                  12654
ND                    8490
Fioul                 1611
Reseau de chaleur     1378
Reseau de froid        186
Bois                   184
Name: count, dtype: int64
0
8490

In [74]:
df_vecteur["vecteur_energie"] = df_vecteur["vecteur_energie"].replace("ND", "Inconnu")
print(df_vecteur["vecteur_energie"].shape)
print(df_vecteur["vecteur_energie"].unique())
print(df_vecteur["vecteur_energie"].value_counts())
print(df_vecteur["vecteur_energie"].isnull().sum())
print(df_vecteur["vecteur_energie"].value_counts().get("ND", 0))
print(df_vecteur["vecteur_energie"].value_counts().get("Inconnu", 0))

(42059,)
['Electricite' 'Gaz' 'Reseau de chaleur' 'Reseau de froid' 'Fioul' 'Bois'
 'Inconnu']
vecteur_energie
Electricite          17556
Gaz                  12654
Inconnu               8490
Fioul                 1611
Reseau de chaleur     1378
Reseau de froid        186
Bois                   184
Name: count, dtype: int64
0
0
8490

In [75]:
print(df_vecteur["consommation_declaree"].shape)
print(df_vecteur["consommation_declaree"].unique())
print(df_vecteur["consommation_declaree"].value_counts())
print(df_vecteur["consommation_declaree"].isnull().sum())
print(df_vecteur["consommation_declaree"].value_counts().get("ND", 0))
print(df_vecteur["consommation_declaree"].value_counts().get("Inconnu", 0))

(42059,)
[38442621  1287317   699468 ...  7075006  2650369 11670109]
consommation_declaree
2783057    4
100697     3
5484       3
1274809    2
29910      2
          ..
9203776    1
8370384    1
7075006    1
2650369    1
173201     1
Name: count, Length: 41878, dtype: int64
0
0
0

In [76]:
print(df_vecteur.shape)
print(df_vecteur.head())

(42059, 9)
   annee_consommation zone_climatique code_region  nom_region  \
0  Année de référence             GUA          01  Guadeloupe
1  Année de référence             GUA          01  Guadeloupe
2  Année de référence             GUA          01  Guadeloupe
3  Année de référence             GUA          01  Guadeloupe
4  Année de référence             GUA          01  Guadeloupe

  code_departement nom_departement   nom_commune vecteur_energie  \
0              971      Guadeloupe  BAIE MAHAULT     Electricite
1              971      Guadeloupe       BAILLIF     Electricite
2              971      Guadeloupe   BASSE TERRE     Electricite
3              971      Guadeloupe      LAMENTIN     Electricite
4              971      Guadeloupe    LES ABYMES     Electricite

   consommation_declaree
0               38442621
1                1287317
2                 699468
3                2058509
4               20281219

In [77]:
df_vecteur.to_csv("df_vecteur_cleaned.csv", index=False)