In [3]:
import pandas as pd
import sqlalchemy
import sqlite3

df_vecteur = pd.read_csv("operat_open_data_vecteurs.csv")
df_commune = pd.read_csv("operat_geographie_open_data.csv")
df_activite = pd.read_csv("operat_activite_open_data.csv")

df_vecteur.head()

,annee_consommation,zone_climatique,code_region,nom_region,code_departement,nom_departement,nom_commune,vecteur_energie,consommation_declaree
0,0 - année de référence,GUA,01,Guadeloupe,971,Guadeloupe,BAIE MAHAULT,Electricite,38442621
1,0 - année de référence,GUA,01,Guadeloupe,971,Guadeloupe,BAILLIF,Electricite,1287317
2,0 - année de référence,GUA,01,Guadeloupe,971,Guadeloupe,BASSE TERRE,Electricite,699468
3,0 - année de référence,GUA,01,Guadeloupe,971,Guadeloupe,LAMENTIN,Electricite,2058509
4,0 - année de référence,GUA,01,Guadeloupe,971,Guadeloupe,LES ABYMES,Electricite,20281219

In [4]:
df_commune.head()

,annee_consommation,zone_climatique,code_region,nom_region,code_departement,nom_departement,nom_commune,nombre_declaration,surface_declaree,consommation_declaree
0,0 - année de référence,GUA,01,Guadeloupe,971,Guadeloupe,BAIE MAHAULT,86,205643,38442621
1,0 - année de référence,GUA,01,Guadeloupe,971,Guadeloupe,BAILLIF,7,8815,1287317
2,0 - année de référence,GUA,01,Guadeloupe,971,Guadeloupe,BASSE TERRE,4,4024,699468
3,0 - année de référence,GUA,01,Guadeloupe,971,Guadeloupe,LES ABYMES,34,88040,20281219
4,0 - année de référence,GUA,01,Guadeloupe,971,Guadeloupe,PETIT BOURG,13,14890,1302881

In [5]:
df_activite.head()

,annee_consommation,meta_categorie_activite,categorie_activite,sous_categorie_activite,nombre_declaration,surface_declaree,consommation_declaree
0,0 - année de référence,Accueil petite enfance,Accueil petite enfance,Accueil petite enfance (Valeur par défaut),401,747473,82714156
1,0 - année de référence,Accueil petite enfance,Accueil petite enfance,Accueil petite enfance - Administration et bur...,38,63436,7723500
2,0 - année de référence,Accueil petite enfance,Accueil petite enfance,Accueil petite enfance - Crèche,738,668089,119122080
3,0 - année de référence,Accueil petite enfance,Accueil petite enfance,Accueil petite enfance - Halte garderie,193,146525,21069003
4,0 - année de référence,Audiovisuel,Audiovisuel - Radio,Radio (Valeur par défaut),5,743,152511

In [10]:
df_vecteur.isnull().sum()

annee_consommation       0
zone_climatique          0
code_region              0
nom_region               0
code_departement         0
nom_departement          0
nom_commune              0
vecteur_energie          0
consommation_declaree    0
dtype: int64

In [11]:
df_activite.isnull().sum()

annee_consommation         0
meta_categorie_activite    0
categorie_activite         0
sous_categorie_activite    0
nombre_declaration         0
surface_declaree           0
consommation_declaree      0
dtype: int64

In [12]:
df_commune.isnull().sum()

annee_consommation       0
zone_climatique          0
code_region              0
nom_region               0
code_departement         0
nom_departement          0
nom_commune              0
nombre_declaration       0
surface_declaree         0
consommation_declaree    0
dtype: int64

In [ ]:
missing_values_vecteur = df_vecteur.isnull().sum()
print("Nombre de valeurs manquantes par colonne :\n", missing_values_vecteur)
missing_values_activite = df_activite.isnull().sum()
print("Nombre de valeurs manquantes par colonne :\n", missing_values_activite)
missing_values_commune = df_commune.isnull().sum()
print("Nombre de valeurs manquantes par colonne :\n", missing_values_commune)

Nombre de valeurs manquantes par colonne :
 annee_consommation       0
zone_climatique          0
code_region              0
nom_region               0
code_departement         0
nom_departement          0
nom_commune              0
vecteur_energie          0
consommation_declaree    0
dtype: int64
Nombre de valeurs manquantes par colonne :
 annee_consommation         0
meta_categorie_activite    0
categorie_activite         0
sous_categorie_activite    0
nombre_declaration         0
surface_declaree           0
consommation_declaree      0
dtype: int64
Nombre de valeurs manquantes par colonne :
 annee_consommation       0
zone_climatique          0
code_region              0
nom_region               0
code_departement         0
nom_departement          0
nom_commune              0
nombre_declaration       0
surface_declaree         0
consommation_declaree    0
dtype: int64

In [38]:
df_commune["annee_consommation"].value_counts()

annee_consommation
2021                      5137
2020                      4968
0 - année de référence    4414
2022                      4128
Name: count, dtype: int64

In [50]:
commune_index_a_supprimer = [8614, 13504]

df_commune.drop(index=commune_index_a_supprimer, inplace=True)

In [51]:
df_commune = df_commune.reset_index(drop=True)

In [52]:
duplicated_rows_commune = df_commune.duplicated(subset = ["consommation_declaree", "surface_declaree"], keep=False)

nombre_doublon_commune = duplicated_rows_commune.sum()

if nombre_doublon_commune == 0:
    print("La combinaison des colonnes 'consommation_declaree' et 'surface_declaree' est unique pour chaque ligne")
else :
    print(f"La combinaison des colonnes 'consommation_declaree' et 'surface_declaree' possède {nombre_doublon_commune} doublons")

df_commune[duplicated_rows_commune]

La combinaison des colonnes 'consommation_declaree' et 'surface_declaree' est unique pour chaque ligne

Empty DataFrame
Columns: [annee_consommation, zone_climatique, code_region, nom_region, code_departement, nom_departement, nom_commune, nombre_declaration, surface_declaree, consommation_declaree]
Index: []

In [58]:
activite_index_a_supprimer = [403, 882, 1370]

df_activite.drop(index=activite_index_a_supprimer, inplace=True)

df_activite = df_activite.reset_index(drop=True)

In [99]:
doublons_vecteur = df_vecteur["consommation_declaree"].unique()
df_vecteur[doublons_vecteur]

KeyError: "None of [Index([38442621,  1287317,   699468,  2058509, 20281219,  1302881,   702277,\n        2701468,  7489990,  2381032,\n       ...\n        1528078,  1526834,   745334, 12263636,  1241753,  1485149,  1393091,\n       11255323,  2768977,  4382232],\n      dtype='int64', length=42061)] are in the [columns]"

In [89]:
duplicated_rows_vecteur = df_vecteur.duplicated(subset = ["consommation_declaree", "nom_commune"], keep="first")

nombre_doublon_vecteur = duplicated_rows_vecteur.sum()

if nombre_doublon_vecteur == 0:
    print("La combinaison des colonnes 'consommation_declaree' et 'nom_commune' est unique pour chaque ligne")
else :
    print(f"La combinaison des colonnes 'consommation_declaree' et 'nom_commune' possède {nombre_doublon_vecteur} doublons")

df_vecteur[duplicated_rows_vecteur]

La combinaison des colonnes 'consommation_declaree' et 'nom_commune' possède 18 doublons

,annee_consommation,zone_climatique,code_region,nom_region,code_departement,nom_departement,nom_commune,vecteur_energie,consommation_declaree
8146,2020,H1a,11,Île-de-France,77,Seine-et-Marne,CHESSY,Fioul,2783057
8324,2020,H1a,11,Île-de-France,78,Yvelines,CARRIERES SOUS POISSY,Bois,74951
14541,2020,H2b,52,Pays de la Loire,72,Sarthe,BEAUMONT SUR SARTHE,Fioul,5484
16143,2020,H2d,84,Auvergne-Rhône-Alpes,26,Drôme,PORTES LES VALENCE,Fioul,29910
16502,2020,H3,76,Occitanie,34,Hérault,SETE,Fioul,95713
16732,2020,H3,93,Provence-Alpes-Côte d'Azur,13,Bouches-du-Rhône,MARIGNANE,Reseau de chaleur,1739343
16733,2020,H3,93,Provence-Alpes-Côte d'Azur,13,Bouches-du-Rhône,MARIGNANE,Reseau de froid,525769
17142,2021,H1a,11,Île-de-France,77,Seine-et-Marne,CHESSY,Fioul,2783057
19552,2021,H1a,44,Grand-Est,67,Bas-Rhin,STRASBOURG,Gaz,86674
20877,2021,H1c,27,Bourgogne-Franche-Comté,25,Doubs,MONTPERREUX,Bois,157
21227,2021,H1c,84,Auvergne-Rhône-Alpes,01,Ain,CROTTET,Gaz,265794
21818,2021,H1c,84,Auvergne-Rhône-Alpes,63,Puy-de-Dôme,CEBAZAT,Fioul,100697
23765,2021,H2b,52,Pays de la Loire,72,Sarthe,BEAUMONT SUR SARTHE,Fioul,5484
25739,2021,H3,76,Occitanie,34,Hérault,LAVERUNE,Electricite,231989
25740,2021,H3,76,Occitanie,34,Hérault,LAVERUNE,Gaz,529072
26434,2022,H1a,11,Île-de-France,77,Seine-et-Marne,CHESSY,Fioul,2783057
28013,2022,H1a,32,Hauts-de-France,59,Nord,TRITH SAINT LEGER,Fioul,871837
40585,2022,H2a,53,Bretagne,35,Ille-et-Vilaine,GAHARD,ND,216109

In [31]:
# from functools import reduce

# dataframes = [df_activite, df_commune, df_vecteur]

# df_merged = reduce(lambda left, right: pd.merge(
#     left, right, on=["consommation_declaree", "surface_declaree", "annee_consommation"],
#     how="inner"), dataframes)

# df_merged.head(10)

In [83]:
df_merged_commune_activite = df_commune.merge(df_activite,
                                              on=["consommation_declaree", "surface_declaree"],
                                              how="left")
df_merged_commune_activite.head(20)

df_merged_commune_activite.to_csv("test.csv")

In [61]:
print("Colonnes de df_commune :", df_commune.columns.tolist())
print("Colonnes de df_activite :", df_activite.columns.tolist())

Colonnes de df_commune : ['annee_consommation', 'zone_climatique', 'code_region', 'nom_region', 'code_departement', 'nom_departement', 'nom_commune', 'nombre_declaration', 'surface_declaree', 'consommation_declaree']
Colonnes de df_activite : ['annee_consommation', 'meta_categorie_activite', 'categorie_activite', 'sous_categorie_activite', 'nombre_declaration', 'surface_declaree', 'consommation_declaree']

In [62]:
print("Types de données dans df_commune :")
print(df_commune[["consommation_declaree", "surface_declaree"]].dtypes)

print("Types de données dans df_activite :")
print(df_activite[["consommation_declaree", "surface_declaree"]].dtypes)

Types de données dans df_commune :
consommation_declaree    int64
surface_declaree         int64
dtype: object
Types de données dans df_activite :
consommation_declaree    int64
surface_declaree         int64
dtype: object

In [75]:
print("Valeurs unique de 'consommation_declaree' dans df_commune :",
      df_commune["consommation_declaree"].value_counts())
print("Valeurs unique de 'consommation_declaree' dans df_activite :",
      df_activite["consommation_declaree"].value_counts())

print("Valeurs unique de 'surface_declaree' dans df_commune :",
      df_commune["surface_declaree"].value_counts())
print("Valeurs unique de 'surface_declaree' dans df_activite :",
      df_activite["surface_declaree"].value_counts())

Valeurs unique de 'consommation_declaree' dans df_commune : consommation_declaree
967253      3
518721      2
17395011    2
2327448     2
3025911     2
           ..
1960304     1
16747085    1
37228199    1
6057398     1
2417127     1
Name: count, Length: 18637, dtype: int64
Valeurs unique de 'consommation_declaree' dans df_activite : consommation_declaree
23056957     1
82714156     1
7723500      1
119122080    1
21069003     1
            ..
533261       1
1832197      1
43497        1
14093323     1
1232679      1
Name: count, Length: 2027, dtype: int64
Valeurs unique de 'surface_declaree' dans df_commune : surface_declaree
7421     9
8650     7
13923    7
2019     7
8187     7
        ..
3734     1
2203     1
6484     1
6913     1
60641    1
Name: count, Length: 14667, dtype: int64
Valeurs unique de 'surface_declaree' dans df_activite : surface_declaree
4555      4
207638    4
223378    4
9171      4
4091      4
         ..
34164     1
7806      1
154865    1
35847     1
3711      1
Name: count, Length: 1885, dtype: int64

In [80]:
duplicated_consommation_declaree_commune = df_commune["consommation_declaree"].duplicated(keep=False)
df_commune[duplicated_consommation_declaree_commune]

,annee_consommation,zone_climatique,code_region,nom_region,code_departement,nom_departement,nom_commune,nombre_declaration,surface_declaree,consommation_declaree
321,0 - année de référence,H1a,11,Île-de-France,92,Hauts-de-Seine,LA GARENNE COLOMBES,27,81837,17395011
383,0 - année de référence,H1a,11,Île-de-France,94,Val-de-Marne,CACHAN,24,91355,17395011
598,0 - année de référence,H1a,28,Normandie,27,Eure,THIBERVILLE,6,6638,518721
913,0 - année de référence,H1a,32,Hauts-de-France,60,Oise,JAUX,9,16182,2327448
2053,0 - année de référence,H1c,84,Auvergne-Rhône-Alpes,42,Loire,SURY LE COMTAL,5,17408,3025911
2356,0 - année de référence,H1c,84,Auvergne-Rhône-Alpes,74,Haute-Savoie,VEIGY FONCENEX,8,11276,3025911
9884,2021,H1a,32,Hauts-de-France,59,Nord,MONTIGNY EN OSTREVENT,3,8214,1808823
10555,2021,H1b,44,Grand-Est,57,Moselle,AUGNY,24,36249,4492701
12910,2021,H2c,75,Nouvelle-Aquitaine,40,Landes,NARROSSE,4,6356,967253
13435,2021,H3,76,Occitanie,30,Gard,BELLEGARDE,9,19707,1808823
14813,2022,H1a,32,Hauts-de-France,62,Pas-de-Calais,RANG DU FLIERS,11,30949,4492701
15783,2022,H1c,84,Auvergne-Rhône-Alpes,42,Loire,SAINT JUST EN CHEVALET,3,9463,518721
16326,2022,H2a,53,Bretagne,56,Morbihan,GOURIN,3,13246,967253
17061,2022,H2c,75,Nouvelle-Aquitaine,47,Lot-et-Garonne,COLAYRAC SAINT CIRQ,4,9079,2327448
17427,2022,H3,76,Occitanie,30,Gard,BELLEGARDE,8,19366,967253